name: CI

on:
  pull_request:
  workflow_call:
    secrets:
      GH_APP_CREDS:
        required: true
      PAT:
        required: true
  schedule:
    - cron: '0 22 * * 2'

permissions: {}

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  integration-tests:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: test-typescript
    uses: ./.github/workflows/integration-tests.yml
    permissions:
      contents: read
    secrets:
      GH_APP_CREDS: ${{ secrets.GH_APP_CREDS }}
      PAT: ${{ secrets.PAT }}
