name: Release

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read
    secrets:
      GH_APP_CREDS: ${{ secrets.GH_APP_CREDS }}
      PAT: ${{ secrets.PAT }}

  release:
    name: release
    runs-on: ubuntu-latest
    needs: ci
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Run semantic release
        uses: electron/semantic-trusted-release@5eceb399ac8de8863205cf6e34109bce473ba566 # v1.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
