name: Release

on:
  workflow_run:
    workflows: ['Integration Tests']
    branches:
      - main
      - 'releases/*'
    types: 
      - completed

permissions: {}

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Run semantic release
        uses: electron/semantic-trusted-release@5eceb399ac8de8863205cf6e34109bce473ba566 # v1.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
